{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Brillo & Glamour</title>

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>

<body>

    <nav class="menu-usuario">

    <div class="menu-marca">
    <a href="{% url 'inicio' %}" class="logo-nav-link">
    <img src="{% static 'core/images/logo-brillo-glamour.png' %}" 
        alt="Brillo & Glamour"
        class="logo-nav">
</div>

    <div class="menu-enlaces">

        <a href="{% url 'inicio' %}">
            Inicio
        </a>

        <a href="#servicios">
            Servicios
        </a>

        {% if user.is_authenticated %}

            <a href="{% url 'mis_reservas' %}">
                Mis reservas
            </a>

            <a href="{% url 'logout' %}">
                Cerrar sesión
            </a>

        {% else %}

            <a href="{% url 'login' %}">
                Iniciar sesión
            </a>

            <a href="{% url 'registro' %}">
                Crear cuenta
            </a>

        {% endif %}

    </div>

</nav>

    <section class="hero">

        <h2 class="hero-titulo">
    Realza tu belleza, reserva tu momento
</h2>

<p class="hero-descripcion">
    Descubre un espacio creado para consentirte, cuidar de ti
    y hacer de cada visita una experiencia especial.
</p>

<p class="hero-frase">
    Belleza, armonía y estilo en un solo lugar.
</p>

        <a href="{% url 'reservar' %}" class="btn-reservar">
    Reservar cita
        </a>

    </section>

    <section class="servicios" id="servicios">
        <h2>Nuestros servicios</h2>

        <div class="lista-servicios">
            {% for servicio in servicios %}
                <div class="servicio-card">
                    <h3>{{ servicio.nombre }}</h3>

                    <p>{{ servicio.descripcion }}</p>

                    <p class="precio">
                        ${{ servicio.precio }}
                    </p>

                    <p>
                        Duración: {{ servicio.duracion }} minutos
                    </p>
                </div>
            {% empty %}
                <p>No hay servicios disponibles en este momento.</p>
            {% endfor %}
        </div>
    </section>

</body>

</html>