{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Brillo & Glamour</title>

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>

<body>

    <section class="hero">

        <img src="{% static 'core/images/logo-brillo-glamour.png' %}" 
    alt="Logo Brillo & Glamour" 
    class="logo">

        <h2>Realza tu belleza, reserva tu momento</h2>

        <p>
            Bienvenida a Brillo & Glamour, tu espacio de belleza
            y cuidado personal.
        </p>

        <button class="btn-reservar">
            Reservar cita
        </button>

    </section>

    <section class="servicios">
        <h2>Nuestros servicios</h2>

        <div class="lista-servicios">
            {% for servicio in servicios %}
                <div class="servicio-card">
                    <h3>{{ servicio.nombre }}</h3>

                    <p>{{ servicio.descripcion }}</p>

                    <p class="precio">
                        ${{ servicio.precio }}
                    </p>

                    <p>
                        Duración: {{ servicio.duracion }} minutos
                    </p>
                </div>
            {% empty %}
                <p>No hay servicios disponibles en este momento.</p>
            {% endfor %}
        </div>
    </section>

</body>

</html>